<div class="row">
    <button class="btn btn-danger" id="add-row">Add Person</button>
</div>
<form action="/Home/AddPeople" method="post">
    <div id="rows">
        <div class="form-row mt-2" id="0">
            <div class="col">
                <input type="hidden" value="0" id="rowID" />
                <input type="text" name="people[0].firstName" class="form-control" placeholder="First Name" />
            </div>
            <div class="col">
                <input type="text" name="people[0].lastName" class="form-control" placeholder="Last Name" />
            </div>
            <div class="col">
                <input type="text" name="people[0].age" class="form-control" placeholder="age" />
            </div>
            <div class="col">
                <button class="btn btn-danger" data-id="0" id="delete">Delete!</button>
            </div>
        </div>
    </div>
    <div class="form-row mt-2">
        <button class="btn btn-success btn-block">Submit</button>
    </div>
</form>

@section Scripts {
    <script src="/js/AddPeople.js"></script>
}





